/* Page background */
.suggestions-page {
    width: 100%;
    height: 1000px;
    display: flex;
    position: relative;
    align-items: top;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: #6A0909;
}

/* Content wrapper */
.suggestions-container {
    max-width: 1100px;
    background-color: #6A0909;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    padding: 60px 80px;
    margin:0px;
     
    
}

/* Header wrapper */
.site-header {
  background-color: #4E0B04;
  height: 89.37px;
  display: flex;
  justify-content: center; /* Centers content so width = 1440px */
}

/* Inner content with fixed width */
.header-content {
  width: 1440px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Website name */
.logo {
  color: #FFC15E;
  font-size: 28px;
  font-weight: 600;
}

/* Navigation links */
.nav-links a {
  color: #FFC15E;
  text-decoration: none;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 400;
}

.nav-links a:hover {
  opacity: 0.8;
}


/* Page title */
.suggestions-title {
    color: #F6DFC0;
    font-size: 70px;
    font-weight: 800;
    line-height: 1.0;
    margin-bottom: 2px;
    padding-left: 10px;
}
